<view title="'Home Page'|translate" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons">
  <content has-header="true" padding="true">
    <h1 translate>Home Page</h1>
    <button class="button button-full button-positive" ng-click="showLoading()" translate>Show Loading Box</button>
    <button class="button button-full button-balanced" ng-click="goTo('about')" translate>Go to about page</button>
    <button class="button button-full button-energized" ng-click="goTo('slide-box')" translate>Go to slide box page</button>
  </content>
</view>
