<view title="'Home Page'" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons">
  <content has-header="true" padding="true">
    <h1>Home Page</h1>
    <button class="button button-full button-positive" ng-click="showLoading()">Show Loading Box</button>
    <button class="button button-full button-balanced" ng-click="goTo('about')">Go to about page</button>
    <button class="button button-full button-energized" ng-click="goTo('slide-box')">Go to slide box page</button>
  </content>
</view>